.row
  .col-xs-12.col-sm-6
    = link_to image_tag('github-icon.png', class: 'ref-icon'), @user.github
    = link_to image_tag('linkedin-icon.png', class: 'ref-icon'), @user.linkedin
  .col-xs-12.col-sm-6.right-aligned-not-phone.email
    = @user.email
.profile-info
  .picture<>= image_tag @user.profile_picture_url(:show)
  / .picture
  .info
    .row.user
      .col-xs-12.col-md-8
        = @user.full_name
      .col-xs-12.col-md-4.right-aligned
        = @user.age
    .row.secondary
      .col-xs-12.col-sm-6
        = @user.full_address
      .col-xs-12.col-sm-6.right-aligned-not-phone.hidden-xs
        = @user.present_id
      .col-xs-12.col-sm-6
        = @user.full_localization
      .col-xs-12.col-sm-6.visible-xs
        = @user.present_id
      .col-xs-12.col-sm-6.right-aligned-not-phone
        = @user.present_phone
    .row
      .col-xs-12.description
        %p= @user.description
  / .col-sm-1.hidden-xs
