- content_for :contact_info do
  .row.flexy.no-flexy-mobile.center-sm
    .col-xs-12.col-lg-4.col-md-7.col-sm-12.right-aligned-not-phone.center-sm.secondary-text.flexy-4.col-md-push-5.col-lg-push-8
      = @user.email

    .col-xs-12.col-lg-8.col-md-5.col-sm-12.flexy-8.col-md-pull-7.col-lg-pull-4
      = link_to image_tag('github-icon.png', class: 'ref-icon hidden-pdf'), @user.github
      = link_to @user.linkedin do
        %span= image_tag('linkedin-icon.png', class: 'ref-icon')
        %p.visible-pdf.secondary-text= @user.trimmed_linkedin

.hidden-sm.hidden-xs
  = content_for :contact_info
.profile-info
  .picture<>= image_tag @user.profile_picture_url(:show)
  / .picture
  .info
    .row.user
      .col-md-8.col-xs-12.center-xs
        %p= @user.full_name
      .col-md-4.right-aligned-not-phone.col-xs-12.secondary-xs
        %p= @user.age
    .row.secondary
      .col-md-6.col-xs-12
        %p= @user.full_address
      .col-md-6.right-aligned-not-phone.hidden-sm.col-xs-12
        %p= @user.present_id
      .col-md-6.col-xs-12
        %p= @user.full_localization
      .col-md-6.visible-sm.col-xs-12
        %p= @user.present_id
      .col-md-6.right-aligned-not-phone.col-xs-12
        %p= @user.present_phone
    .row
      .col-xs-12.description
        %p= @user.description
.visible-sm.visible-xs
  = content_for :contact_info
.row.visible-pdf.secondary
  .col-xs-12
    %p= t('profile-info.see-live-version', url: "maximilianofelice-cv.herokuapp.com")
