.row.flexy
  .col-xs-12.col-sm-8.flexy-8
    = link_to image_tag('github-icon.png', class: 'ref-icon hidden-pdf'), @user.github
    = link_to @user.linkedin do
      %span= image_tag('linkedin-icon.png', class: 'ref-icon')
      %p.visible-pdf.secondary-text= @user.trimmed_linkedin

  .col-xs-12.col-sm-4.right-aligned-not-phone.secondary-text.flexy-4
    = @user.email
.profile-info
  .picture<>= image_tag @user.profile_picture_url(:show)
  / .picture
  .info
    .row.user
      .col-xs-12.col-md-8
        %p= @user.full_name
      .col-xs-12.col-md-4.right-aligned
        %p= @user.age
    .row.secondary
      .col-xs-12.col-sm-6
        %p= @user.full_address
      .col-xs-12.col-sm-6.right-aligned-not-phone.hidden-xs
        %p= @user.present_id
      .col-xs-12.col-sm-6
        %p= @user.full_localization
      .col-xs-12.col-sm-6.visible-xs
        %p= @user.present_id
      .col-xs-12.col-sm-6.right-aligned-not-phone
        %p= @user.present_phone
    .row
      .col-xs-12.description
        %p= @user.description
  / .col-sm-1.hidden-xs
