.subtitle= t("timeline.title.#{category}")
.timeline-container{id: "timeline-#{category}"}
  %br.clear
  - TimelineEntryDecorator.decorate_collection(entries).group_by{ |entry| entry.date_range }.each do |range, ranged_entries|
    .timeline-wrapper
      .row
        .col-xs-4
          %h2.timeline-time= range
        .col-xs-8
          - ranged_entries.each_with_index do |entry, index|
            - index += 1
            %dl.timeline-series
              %dt.timeline-event{id: "event#{index + 1}"}
                %a= entry.title
              %dd.timeline-event-content{id: "event#{index + 1}EX"}
                %p= entry.content
  %br.clear