<!DOCTYPE html>
%html
  %head
    %title Curriculum Vitae
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = content_tag :meta, "", name: "viewport", content: "width=devise-width, initial-scale=1"

    = favicon_link_tag "apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"
    = favicon_link_tag "apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"
    = favicon_link_tag "apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"
    = favicon_link_tag "apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"
    = favicon_link_tag "apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"
    = favicon_link_tag "apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"
    = favicon_link_tag "apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"
    = favicon_link_tag "apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"
    = favicon_link_tag "apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"
    = favicon_link_tag "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"
    = favicon_link_tag "favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"
    = favicon_link_tag "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"
    = favicon_link_tag "android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"
    = favicon_link_tag "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"
    = favicon_link_tag "manifest.json", :rel => "manifest"
  
  %body
    .container-fluid
      = link_to image_tag("https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67", style: "position: absolute; top: 0;  left: 0; border: 0; z-index: 1;", alt: "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png", class: "hidden-xs"), "https://github.com/MaximilianoFelice/curriculum-vitae"
      = render 'shared/mantenience_info'
      = render 'home/header'
      .page-body
        %div
          = yield
