<!DOCTYPE html>
%html
  %head
    %title Curriculum Vitae
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = content_tag :meta, "", name: "viewport", content: "width=devise-width, initial-scale=1"
  
  %body
    .container-fluid
      = render 'home/header'
      = yield
